* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

button {
    margin: 10px;
  }

.hero {
  width: 320px;
  height: 180px;
  margin-bottom: 20px;
}

.hero img {
  height: 100%
}
/* Create four equal columns that floats next to eachother */

.thumbnail {
  display: inline-block;
  cursor: pointer;
  height: 200px;

 }

a.thumbnail:hover {
  box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
 max-height: 100%;
}